---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Picture } from "astro:assets";
import Describe from "@/components/Describe.astro";
import Tag from "@/components/Tag.astro";

export async function getStaticPaths() {
  const photos = await getCollection("photos");
  return photos.map((photo) => ({
    params: { photoid: photo.id },
    props: { photo },
  }));
}

const images = import.meta.glob<{ default: ImageMetadata }>("/src/content/photos/*.jpg")

const { photo } = Astro.props;
---

<Layout>
  <section>
    <h1 class="text-xl font-bold">{photo.data.meta.title}</h1>
  </section>
  <main class="my-4 flex flex-col justify-center items-center">
    <div class="lg:w-3/4 xl:w-1/2">
      <Picture
        alt={photo.data.meta.detail}
        src={images[photo.data.key]!()}
        formats={["jpg", "webp"]}
        loading="eager"
        layout="full-width"
      />
    </div>
    <div>
      Original size: {photo.data.photo.width}x{photo.data.photo.height}px
    </div>
  </main>
  <section class="p-4 bg-gray-300 mb-2">
    <h2 class="text-lg font-bold">Description</h2>
    <div class="ml-4">
      <p>{photo.data.meta.detail}</p>
    </div>
    <h2 class="text-lg font-bold">Tags</h2>
    <div class="ml-4 flex flex-wrap gap-2 p-2">
      {photo.data.meta.tags.map((t) => <Tag tag={t.id} />)}
    </div>
    <h2 class="text-lg font-bold">Photo Details</h2>
    <div class="ml-4">
      <Describe
        descriptions={{
          Photographer: photo.data.meta.author.id,
          Date: `${photo.data.meta.date.toString()} (${photo.data.meta.date.toISOString()})`,
          "Location (Approximate)":
            photo.data.meta.approxLocation ?? "Unspecified",
          Edited: (photo.data.meta.edited && "Yes") || "No",
          ID: photo.id,
        }}
      />
    </div>
  </section>
</Layout>
